.block_courseweb-wrapper {
    font-weight: bold;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.block_courseweb-title {
    margin: 0;
}

.block_courseweb-subtitle {
    color: #999;
}

.block_courseweb-button {
    margin-top: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.block_courseweb-button .block_courseweb-left,
.block_courseweb-button .block_courseweb-right {
    height: 1px;
    width: 40px;
}

.block_courseweb-button .block_courseweb-left {
    background: linear-gradient(to left, #ccc, rgba(204, 204, 204, 0));
}
.block_courseweb-button .block_courseweb-right {
    background: linear-gradient(to right, #ccc, rgba(204, 204, 204, 0));
}
.block_courseweb-button .block_courseweb-separator {
    height: 1px;
    width: 10px;
    background: #ccc;
}

.block_courseweb-button a {
    background-color: #fff;
    padding: 8px 20px;
    border: 1px solid #ccc;
    border-radius: 3px;
    color: #000;
}

.block_courseweb-button a:hover {
    text-decoration: none;
    color: #666;
}
