{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template block_courseweb/courseweb

    Course web.

    Example context (json):
    {
        "title": "My Course Title",
        "subtitle": "My Course Subtitle",
        "readinglisturl": "https://example.com/rl",

        "firstcourselink": {
            "url": "https://example.com/course",
            "name": "First one"
        },
        "othercourselinks": [
            {"url": "https://example.com/other1", "name": "Other 1"},
            {"url": "https://example.com/other2", "name": "Other 2"}
        ],

        "hasfirstlinks": true,
        "hasothercourselinks": true
    }
}}
<div class="block_courseweb-wrapper">
    <h2 class="block_courseweb-title">{{title}}</h2>
    {{#subtitle}}<div class="block_courseweb-subtitle">{{.}}</div>{{/subtitle}}
    {{#hasfirstlinks}}
        <div class="block_courseweb-button">
            <div class="block_courseweb-left"></div>
                {{#firstcourselink}}
                <a href="{{url}}">{{name}}</a>
                {{/firstcourselink}}
                {{#firstcourselink}}{{#readinglisturl}}
                    <div class="block_courseweb-separator"></div>
                {{/readinglisturl}}{{/firstcourselink}}
                {{#readinglisturl}}
                <a href="{{.}}">{{#str}}viewcoursereadinglist, block_courseweb{{/str}}</a>
                {{/readinglisturl}}
            <div class="block_courseweb-right"></div>
        </div>
    {{/hasfirstlinks}}
    {{#hasothercourselinks}}
        {{#othercourselinks}}
            <div class="block_courseweb-button">
                <div class="block_courseweb-left"></div>
                    <a href="{{url}}">{{name}}</a>
                <div class="block_courseweb-right"></div>
            </div>
        {{/othercourselinks}}
    {{/hasothercourselinks}}
</div>
